<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="47249RaghavJajodia.ChainingReactions" Publisher="CN=26FEAD2D-62DA-480C-910D-B1416152B492" Version="1.1.0.8" />
  <mp:PhoneIdentity PhoneProductId="03d7f826-e3be-43f0-aa5a-6903a5083059" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Chaining Reactions</DisplayName>
    <PublisherDisplayName>RaghavJajodia</PublisherDisplayName>
    <Logo>Assets\icon.jpg</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ChainReaction.App">
      <m3:VisualElements DisplayName="Chaining Reactions" Square150x150Logo="Assets\icon150.jpg" Square44x44Logo="Assets\SmallLogo.png" Description="ChainReaction" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\icon71.jpg">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\finalSplash.jpg" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>